div#sidebyside {
  width: 950px;
  height: 300px;
}

div#generalinfo {
  width: 370px;
  float: left;
}

div#webcam {
  width: 330px;
  height: 260px;
  float:left ;
  clear:none;
  margin:10px;
}

#webcam-movie {
  margin: 10px;
}

div#webcam input {
  width: auto;
}
