div#sidebyside {
  width: 850px;
  height: 380px;
  margin:0px;
}

div#generalinfo {
  clear:none;
  width: 370px;
  float: left;
  margin: 0px;
  margin-left: 10px;
  padding: 0px;
}

div#webcam {
  width: 330px;
  height: 380px;
  float:left ;
  clear:none;
  margin:0px;
  padding:0px;
}

div.submit input {
  display:block;
}

div#or {
  clear: none;
  width: auto;
  float:left;
  padding: 0px;
  margin: 0px;
  text-align: center;
}

object#webcam-movie {
  padding: 10px;
}

div#webcam input {
  width: auto;
  margin-top: 5px;
}
